#main-box {
    width: 800px;
    height: 500px;
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 2px #E6EBC2;
}

#beans, #brew, #flavor {
    border: 1px solid #FAEDCD;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#brew {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#brew1, #brew2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
    font-size: 12px;
}


/* brew 1 items */
/* brew 2 items */
#minutes, #seconds, #watergrams, #coffeegrams {
    width: 15%;
    margin-right: 5px;
}


#submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

#submit-btn {
    margin-right: 10px;
}