#results-box {
    width: 100%;
    height: 100%px;
    background-color: #FEFAE0;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 3px 3px 2px #E6EBC2;
}

.brew-container {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

#results-box:hover {
    cursor: pointer
}

.headers {
    border-bottom: 1px solid black
}

.beans-info, .grind-info, .brew-info {
    display: flex;
    flex-direction: column;
    width: 25%;
}


/* toggle */